.splash {
    text-align: center;
    margin: 10% 0 0 0;
}

.splash .message {
    font-size: 5em;
    line-height: 1.5em;
    -webkit-text-shadow: rgba(0, 0, 0, 0.5) 0 0 15px;
    text-shadow: rgba(0, 0, 0, 0.5) 0 0 15px;
    text-transform: uppercase;
}

.splash .fa-spinner {
    text-align: center;
    display: inline-block;
    font-size: 5em;
    margin-top: 50px;
}

.page-host {
  position: absolute;
  left: 0;
  right: 0;
  top: 50px;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

section {
  margin: 0 20px;
}

a:focus {
  outline: none;
}

.navbar-nav li.loader {
    margin: 12px 24px 0 6px;
}

.no-selection {
  margin: 20px;
}

.contact-list {
  overflow-y: auto;
  width: 300px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  border: 1px solid #ddd;
  padding: 10px;
}

router-view {
  position: absolute;
  top: 0;
  left: 300px;
  bottom: 0;
  right: 0;
}

.panel {
  margin: 20px;
}

.button-bar {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  border-top: 1px solid #ddd;
  padding: 10px;
  background: white;
}

.button-bar > button {
  float: right;
}

li.list-group-item {
  list-style: none;
}

li.list-group-item > a {
  text-decoration: none;
}

li.list-group-item.active > a {
  color: white;
}